.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.gameboard {
  display: flex;
  width: 426px;
  height: 420px;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.field {
  width: 140px;
  height: 140px;
  border: 1px solid black;
}

.field:hover {
  background-color: gray;
  cursor: pointer;
}
